---
layout: base
title: Bio
---
<h1>Biography</h1>
<div>
Jean-Michel Bruel received his Ph.D. from the <a
 href="http://www.ups-tlse.fr">University
Paul Sabatier</a> (Toulouse) in
December 1996.
From September 1997 to August 2008, he was associate professor at the <a
 href="http://www.univ-pau.fr">University
of Pau</a>.
Member of the <a href="http://liuppa.univ-pau.fr">LIUPPA</a>
(Laboratoire d'Informatique de l'Universit&eacute; de Pau et des
Pays de l'Adour) from 2000 to 2008.
Currently member of the <a href="http://www.irit.fr/-Equipe-MACAO-">MACAO</a>
team (Models, Architectures, Components, Agility and prOcesses) of the <a href="http://www.irit.fr/">IRIT</a>
(Institut de Recherche en Informatique de Toulouse) CNRS laboratory.
His research areas include development of distributed, component-based
applications, methods integration, and on the use of formal methods in
the Component-Based Software Engineering context. He has
defended his "<a href='http://www.irit.fr/~Jean-Michel.Bruel/HdRBruel2006/hdr2006.pdf'>Habilitation
à Diriger des Recherches</a>" in December 2006 and obtained in 2008
a full professor position at the <a href="http://www.univ-toulouse.fr/">University of Toulouse</a>.
He has been head of the Computer Science department of the <a href="<%= iutUrl %>">Technical
Institute of Blagnac</a> from 2009 to 2012.
</div>
