---
layout: base
title: Contact
---
<div class="container">
<div class="span-10">
<!--=========================================================-->
<h2>Postal Address</h2>
<!--=========================================================-->
D&eacute;partement Informatique
<br />
IUT de Blagnac
<br />
1, pl. Georges Brassens, B.P. 60073
<br />
F-31703 Blagnac Cedex, France.
<br />
<a href="http://maps.google.fr/maps?f=q&amp;hl=fr&amp;geocode=&amp;q=iut+de+blagnac+toulouse&amp;ie=UTF8&amp;ll=43.663898,1.375008&amp;spn=0.131879,0.313797&amp;z=12&amp;iwloc=A">
Plan Google map</a>
<br />
T&eacute;l: +33(0)5.62.74.75.61&nbsp;&nbsp;
<br />
Fax: +33(0)5.62.74.75.45
<br />
<a href="mailto:bruel@irit.fr">bruel@irit.fr</a>
</div>
<div class="span-10 last">
<!--=========================================================-->
<h2>More online…</h2>
<!--=========================================================-->
<ul>
	<li>
		<!--	Skype 'My status' button http://www.skype.com/go/skypebuttons -->
		<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
		My skype status: <a href="skype:jmbruel?call"><img src="http://mystatus.skype.com/bigclassic/jmbruel"
		 alt="My status" height="25"/></a>
	</li>
	<li>
		My agenda: <a class="noicon" href="http://www.google.com/calendar/render?cid=https%3A%2F%2Fwww.google.com%2Fcalendar%2Fembed%3Fsrc%3Dj7edo56okm7dv2jur4sno594a0%2540group.calendar.google.com%26ctz%3DEurope%2FParis" target="_blank">
		 <img src="http://www.google.com/calendar/images/ext/gc_button1_fr.gif"  alt="My Calendar"  height="25"/></a>
	</li>
	<li>
		My LinkedIn profile: <a class="noicon" href="http://www.linkedin.com/in/jmbruel">
			<img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.gif"
			 alt="View JMB's profile on LinkedIn"  height="25"/></a>
	</li>
	<li>My Google+ profile: <a class="noicon" rel="author" href="https://plus.google.com/109827482140790497874/posts">
  <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" alt="g+" height="25"/>
</a>
	</li>
  <li>
    Follow me on twitter  <a href="https://twitter.com/jmbruel">@jmbruel</a>
  </li>
  <li>Want a meeting? Check <a href="http://doodle.com/jmbruel">http://doodle.com/jmbruel</a>
  </li>
	<li>My Open <a href="https://osrc.dfm.io/jmbruel/">Source Report Card</a>
	</li>
</ul>
</div>
</div>
