---
layout: base
title: Fun
---
<% swimpix = '<img src="images/CRSE0431.jpg", alt = "[Swim 3.8km in 1:08]", height = "150", class = "round"/>' %>
<% bikepix = '<img src="images/CRBO0125.jpg", alt = "[Bike 180km in 5:32]", height = "150", class = "round"/>' %>
<% runpix = '<img src="images/CRRP0230.jpg", alt = "[Run   42km in 5:08]", height = "150", class = "round"/>' %>

<h1>Just 4 fun...</h1>

<div>
I am very proud of being an "ironman finisher" Roth 2007 (3.8/180/42) in 11h57'.
<br/>
<%= swimpix %> <%= bikepix %> <%= runpix %>

<br />
Here are some stuff I'd like to share:
	<ul>
	<li>My little brother's <a href="http://ab3.c.la/">band</a>
	(wanna hear? check <a href="http://christian.bruel.pagesperso-orange.fr/atomik/catchtherainbow(fade).mp3">this song</a>
	and enjoy!)</li>
	<li>A <a href="http://chezpoulin.c.la/">litle paradize</a>
	in the "Pyr&eacute;n&eacute;es"</li>
	</ul>
</div>
<div id="tripit-badge">
	<script type="text/javascript" src="https://www.tripit.com/account/badge/id/27372880095B1739F6176209AF4412B4/div_id/tripit-badge/badge.js"></script>
	<noscript><a href="/">TripIt - Organize your travel</a>
	</noscript>
</div>
