---
layout: base
title: Publis
---
<% seebook = '<img src="images/SEEBOOK2013.jpg", alt="[SEEBOOK]", height="200"/>' %>
<% wileybook = '<img src="images/sysmlbook-wiley.jpg", alt = "[WileyBOOK]", height = "200"/>' %>
<% prfcbook = '<img src="images/prfcbook.jpg", alt = "[PRFC]", height = "200"/>' %>

<%# TODO: Faire une macro avec DOI et PDF systématique %>

<h1>Publications</h1>

<p>You can access to the <a href="http://www.irit.fr/-Publications-?code=528&amp;nom=Bruel%20Jean-Michel">official
list</a> from the lab (up to date, but only related to <%= link_to "IRIT", iritUrl  %>). You can access to
the <a href="https://www.researchgate.net/profile/Jean-Michel_Bruel2/publications/">ResearchGate</a> page.  You can also
access my <a href="http://www.irit.fr/~Jean-Michel.Bruel/HdRBruel2006/hdr2006.pdf">Habilitation</a>
or my <a href="http://jmbhome.heroku.com/cv.pdf">CV</a>.
</p>

<p>Here are the last ones:</p>

<ul>
  <li>
    Daniel Amyot, Amal Ahmed Anda, Malak Baslyman, Lysanne Lessard and Jean-Michel Bruel
    Towards Improved Requirements Engineering with SysML and the User Requirements Notation.
    2016 IEEE 24th International Requirements Engineering Conference (RE), Beijing, China, 2016, pp. 329-334.
    Available <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7765539&isnumber=7765493">here</a>
    (<a href="http://portal.core.edu.au/conf-ranks/690/">Rank A</a> conf.).
  </li>
  <li>
		Jacob Geisel, Brahim Hamid, David González and Jean-Michel Bruel.
		Towards a Methodological Tool Support for Modeling Security-Oriented Processes.
		<a href="http://indalog.ual.es/MEDI2016/HOME.html">MEDI'2016</a>, Aguadulce, Almería, Spain, 21-23 September 2016.
	</li>
  <li>
    Brahim Hamid, Jacob Geisel and Jean-Michel Bruel.
    Security Concepts as Add-On for Process Models.
    IEEE International Conference on Engineering of Complex Computer Systems
    (<a href="http://iceccs2015.monash.edu.au/2015/index.jsp">ICECCS'15</a>),
    Gold Coast, Australia, December 9-12, 2015
    (<a href="http://portal.core.edu.au/conf-ranks/646/">Rank A</a> conf.).
  </li>
  <li>
    Mohamed Naija, Samir Ben Ahmed, Jean-Michel Bruel.
    New Schedulability Analysis for Real-Time Systems based on MDE and Petri Nets Model at Early Design Stages (regular paper).
    International Conference on Software and Data Technologies (ICSOFT 2015), Colmar, 20/07/2015-22/07/2015, SciTePress, p. 330-338, août 2015.
    Avaliable <a href="http://dx.doi.org/10.5220/0005514003300338">here</a>
    (<a href="http://portal.core.edu.au/conf-ranks/1206/">Rank B</a> conf.).
  </li>
  <li>
    Mohammad Chami, Jean-Michel Bruel.
    Towards an Integrated Conceptual Design Evaluation of Mechatronic Systems: The SysDICE Approach (regular paper).
    International Conference on Computational Science (ICCS 2015), Vol. 51, Elsevier, p. 650-659, juillet 2015.
    Avaliable <a href="http://www.sciencedirect.com/science/article/pii/S1877050915009886">here</a>
    (<a href="http://portal.core.edu.au/conf-ranks/952/">Rank A</a> conf.).
  </li>
  <li>
    Jean-Michel Bruel, Benoit Combemale, Ileana Ober, Hélène Raynal.
    MDE in Practice for Computational Science (regular paper).
    International Conference on Computational Science (ICCS 2015), Vol. 51, Elsevier, p. 660-669, 2015.
    Avaliable <a href="http://www.sciencedirect.com/science/article/pii/S1877050915009904">here</a>
    (<a href="http://portal.core.edu.au/conf-ranks/952/">Rank A</a> conf.).
  </li>
</ul>

<p>Here is a short list of the main ones:</p>

<ul>
  <li>
    Manzoor Ahmad, Nicolas Belloir, Jean-Michel Bruel.
    Modeling and verification of Functional and Non-Functional Requirements of ambient Self-Adaptive Systems.
    <a href="http://www.sciencedirect.com/science/article/pii/S0164121215001065">Journal of Systems and Software</a> 107: p. 50-70, 2015
    (<a href="http://portal.core.edu.au/jnl-ranks/351/">Rank A</a> journal).
  </li>
  <li>
		Gunter Mussbacher, Daniel Amyot, Ruth Breu, Jean-Michel Bruel, Betty Cheng, Philippe Collet, Benoit Combemale, Robert B. France, Rodgart Heldal, James Hill, Jörg Kienzle, Matthias Schöttle, Friedrich Steinman, Dave Stikkolorum, John Whittle.
		The Relevance of Model-Driven Engineering Thirty Years from Now (regular paper).
		ACM/IEEE Int. Conf. on Model Driven Engineering Languages and Systems
    (<a href="https://hal.inria.fr/hal-01081848">MODELS 2014</a>), Valencia, 28/09/2014-03/10/2014, Vol. 8767, Springer, septembre 2014.
	</li>
	<li>
		Improving scalability and maintenance of software for high-performance
		scientific computing by combining MDE and frameworks.
		Marc Palyart, David Lugato, Ileana Ober, Jean-Michel Bruel.
		ACM/IEEE  Int. Conf. on Model Driven Engineering Languages and Systems
		(MoDELS'2011), Vol. 6981, Jon Whittle, Tony Clark, Thomas Kühne (Eds.), Springer, LNCS, p. 213-227, septembre 2011.
	</li>
	<li>
		RELAX : A Language to Address Uncertainty in Self-Adaptive Systems Requirements.
		Jon Whittle, Pete Sawyer, Nelly Bencomo, Betty H. C. Cheng and Jean-Michel Bruel.
		<a href="http://www.springer.com/computer/swe/journal/766">Requirements Journal</a>, Springer-Verlag, 2010, Volume 15, Number 2, Pages 177–196. (<a href="http://dbweb.irit.fr:8902/publi/publi.affiche_bibtex?code=11391">bibtex</a>)
	</li>
	<li>
		Components modeling in UML 2.
		Jean-Michel Bruel and Ileana Ober.
		<a href="http://www.ubbcluj.ro/">Studia Journal</a>, LI(1) :79–90, June 2006. ISSN : 1224-869x. (<a href="http://dbweb.irit.fr:8902/publi/publi.affiche_bibtex?code=7065">bibtex</a>)
	</li>
	<li>
		<a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?isnumber=26993&amp;arnumber=1199074&amp;count=9&amp;index=5">Formalization of the Whole-Part Relationship in the Unified Modeling Language</a>. Franck Barbier, Brian Henderson-Sellers, Annig Le Parc-Lacayrelle, and Jean- Michel Bruel.
		IEEE Transactions on Sotfware Engineering, 29(5) :459–470, may 2003.
	</li>
</ul>

<p>For some indexes and numbers, check those (updated on September 10th, 2017):
<ul>
<li>The <a href="http://www.informatik.uni-trier.de/~ley/db/indices/a-tree/b/Bruel:Jean=Michel.html">DBLP</a> Server
  (10 journals, 55 conference papers referenced with 99 different co-authors)</li>
<li>The <a href="http://dl.acm.org/results.cfm?query=Jean-Michel%20Bruel&querydisp=Jean-Michel%20Bruel&source_query=&start=1&srt=score%20dsc&short=0&source_disp=&since_month=&since_year=&before_month=&before_year=&coll=DL&dl=GUIDE&termshow=matchall&range_query=&CFID=337668190&CFTOKEN=91797441">ACM Digital library</a> (78 papers)</li>
<li><a href="http://scholar.google.com/citations?user=5shVHyoAAAAJ&hl=en">Google Scolar</a>(119 papers, H-index 15, 8 since 2010)</li>
<li>Jordi Cabot' <a href="http://som-research.uoc.edu/tools/metaScience/author.html?id=627196">metaScience index</a></li>
</ul>

<p>Last book participation (chapters, preface, ...):
<br>
<a href="http://editions.lavoisier.fr/notice.asp?ouvrage=2708717"><%= seebook %></a>
<a href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-1118569717.html"><%= wileybook %></a>
<a href="http://www.editions-eyrolles.com/Livre/9782212136418/"><%= prfcbook %></a>

<!-- Archives
<li>
  Fernando Wanderley, Nicolas Belloir, Jean-Michel Bruel, Nabil Hameurlain, Joao Araujo.
  Des buts à la modélisation système : une approche de modélisation des exigences centrée utilisateur (regular paper).
  Dans / In : INFormatique des Organisations et Systemes d'Information et de Decision (INFORSID 2014), Lyon, 19/05/2014-23/05/2014, Hermès - Revuesonline, p. 113-128, mai / may 2014.
</li>
<li>
  Youness Laghouaouta, Adil Anwar, Mahmoud Nassar and Jean-Michel Bruel.
  On the Use of Graph Transformations for Model Composition Traceability.
  Proc. of the IEEE Eighth International Conference on Research Challenges in Information Science, May 28-30 2014, Marrakesh, Morocco
  (<a href="http://rcis-conf.com/rcis2014/">RCIS'2014</a>).
  Available <a href="http://jmbhome.heroku.com/rcis2014.pdf">here</a>.
  (<a href="http://portal.core.edu.au/conf-ranks/1192/">Rank B</a> conf.).
</li>

SoSym: http://portal.core.edu.au/jnl-ranks/384/
-->
