---
layout: base
title: Talks
---
<h1>Talks</h1>

<p>Here are the last ones:</p>



<h3>Model-Based Systems Requirements (06/11/2013)</h3>

<dl>
  <dt>Event</dt>
  <dd><a href="http://icssea.enst.fr/icssea13/">ICSSEA'2013</a>Int. Conf. on Software & Systems Engineering and their Applications (Tutorial)</dd>
  <dt>Information</dt>
  <dd>English</dd>
  <dt>Material</dt>
  <dd>
    Same tutorial given at RE (see below)
  </dd>
</dl>

<h3>SysML et Simulation (18/10/2013)</h3>

<dl>
  <dt>Event</dt>
  <dd><a href="hhttp://devlog.cnrs.fr/idm2013">DEVLOG'2013</a>Journée IDM et modèles scientifiques (Invited talk)</dd>
  <dt>Information</dt>
  <dd>French</dd>
  <dt>Material</dt>
  <dd>
    <a href="http://jmbhome.herokuapp.com/Devlog2013-Bruel.pdf">PDF</a>,
    <a href="http://jmbhome.herokuapp.com/Devlog2013.html">HTML</a> (plain),
    <a href="http://jmbhome.herokuapp.com/Devlog2013-slides.html">HTML Slides</a> (with slides using JavaScript),
    <a href="http://jmbhome.herokuapp.com/http://www.slideshare.net/jmbruel/notyet">SlideShare</a>
  </dd>
</dl>

<h3>Model-Based Systems Requirements (16/07/2013)</h3>

		<dl>
		<dt>Event</dt>
			<dd><a href="http://www.re2013.inf.puc-rio.br/">RE'2013</a>IEEE Requirements Engineering Conference (Tutorial)</dd>
		<dt>Information</dt>
			<dd>English, with my friend <a href="http://docentes.fct.unl.pt/p191/">João Araújo</a></dd>
		<dt>Material</dt>
			<dd>
				<a href="http://jmbhome.herokuapp.com/RE-Tutorial2013.pdf">PDF</a>,
				<a href="http://www.slideshare.net/jmbruel/modelbased-systems-requirements">SlideShare</a>
			</dd>
		</dl>

<h3>Model-Driven Engineering: a bottom-up approach based on meta-programming (11/07/2013)</h3>
		<dl>
		<dt>Event</dt>
			<dd><a href="http://www.inf.ufrgs.br/elaes2013/en/">ELA-ES'2013</a>: The First Latin-American School on Software Engineering (Invited Talk)</dd>
		<dt>Information</dt>
			<dd>English</dd>
		<dt>Material</dt>
			<dd>
				<a href="http://jmbhome.herokuapp.com/elaes2013.pdf">PDF</a>,
				<a href="http://fr.slideshare.net/jmbruel/modeldriven-engineering-a-bottomup-approach-based-on-metaprogramming-elaes2013">SlideShare</a>,
				<a href="http://hosting.desire2learncapture.com/pucrio/1/watch/313.aspx">video</a>
			</dd>
		</dl>
