---
layout: base
title: About
---
<!--=========================================================-->
<h2>About this web site</h2>
<!--=========================================================-->
<div>
This web site has been developped using the following (open and free) tools:
<ul>
	<li>The French <a href="http://www.c.la/">c.la</a> redirection web site</li>
	<li>The <a href="http://www.heroku.com/">Heroku</a> cloud application plateform</li>
	<li>The <a href="http://git-scm.com/">git</a> version control system</li>
	<li>The <a href="http://rubyonrails.org/">Ruby on Rails</a> framework (special thanks to the great
	      Michael Hartl' <a class="noicon" href="http://www.railstutorial.org/">tutorial</a>)</li>
	<li>The <a href="http://www.blueprintcss.org/">Blueprint</a> CSS library</li>
</ul>
</div>
